.side-drawer{
    height: 100%;
    background: #1d2127;
    box-shadow: 2px 0px 5px rba(0,0,0,0.5);
    position: left;
    top: 0;
    left: 0;
    position: fixed;
    width: 260px;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: .9em;
    z-index: 9001;
    padding-top: 27px;
}

.img {
    width: 110px;
    height: 17px;
    vertical-align: middle;
    border-style: none;
    max-width: 100%;
    line-height: 0;
    
  }

.side-drawer ul,.side-drawer div{
    list-style: none;
    font-size: 1em;
    margin: 0;
    padding: 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 15px;
    padding-inline-start: 15px;
    
}
.side-drawer li,.side-drawer div{ 
    text-decoration: none;
    margin-top: 10px;
    border-bottom: 1px solid #242527;
    margin: 0;
    position: relative;
    line-height: 22px;
    display: list-item;
    text-align: -webkit-match-parent;
    color: #ffffff;
}

.side-drawer li a,.side-drawer div a{ 
    position: relative;
    display: block;
    text-decoration: none;
    text-align: left;
    margin: 1px 0 0;
    padding: 5px 6px;
    line-height: 25px;
    font-weight: 400;
    transition: .25s;
    font-family: inherit;
    font-size: .9em;
    padding-right: 33px;
    text-transform: uppercase;
    color: #ffffff;
    outline: none !important;
}

.side-drawer a{
    text-decoration: none;
    color: white;
    font-family:sans-serif;
}

.side-drawer a:hover,
.side-drawer a:active{
    color: gray;
}

.accordion-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: .9em;
}

/* ARROW CSS  */

#side-nav-panel .accordion-menu .arrow {
    right: 5px;
}

#side-nav-panel .accordion-menu .arrow {
    font-family: 'porto';
    font-size: 15px;
}
.accordion-menu .arrow {
    position: absolute;
    top: 4px;
    right: 0;
    width: 25px;
    height: 25px;
    cursor: pointer;
    text-align: center;
    line-height: 25px;
    vertical-align: top;
    transition: .25s;
}


#side-nav-panel .accordion-menu .open>.arrow:before {
    content: '\e81b';
}
#side-nav-panel .accordion-menu .arrow:before {
    content: '\e81c';
}
.accordion-menu .open>.arrow:before {
    content: "";
}
.accordion-menu .arrow:before {
    content: "";
}



